In [611]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [612]:
df = pd.read_csv('titanic.csv')

In [613]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [614]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [623]:
def impute_age(cols):
    Age = cols[0]
    Pclass = cols[1]
    if pd.isnull(Age):
        if Pclass == 1:
            return 37
        elif Pclass == 2:
            return 29
        else:
            return 24
    else:
        return Age

In [624]:
df['Age'] = df[['Age','Pclass']].apply(impute_age,axis=1)

C:\Users\world\AppData\Local\Temp\ipykernel_8256\3983263054.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  Age = cols[0]
C:\Users\world\AppData\Local\Temp\ipykernel_8256\3983263054.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  Pclass = cols[1]

In [625]:
df.drop('Cabin',axis=1,inplace=True)

In [626]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S

In [627]:
df.dropna(inplace=True)

In [628]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 889 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  889 non-null    int64
 1   Survived     889 non-null    int64
 2   Pclass       889 non-null    int64
 3   Name         889 non-null    object
 4   Sex          889 non-null    object
 5   Age          889 non-null    float64
 6   SibSp        889 non-null    int64
 7   Parch        889 non-null    int64
 8   Ticket       889 non-null    object
 9   Fare         889 non-null    float64
 10  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 83.3+ KB

In [629]:
pd.get_dummies(df['Embarked'],drop_first=True).head()

       Q      S
0  False   True
1  False  False
2  False   True
3  False   True
4  False   True

In [630]:
sex = pd.get_dummies(df['Sex'],drop_first=True)
embark = pd.get_dummies(df['Embarked'],drop_first=True)

In [631]:
df.drop(['Sex','Embarked','Name','Ticket'],axis=1,inplace=True)

In [632]:
df.head()

   PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare
0            1         0       3  22.0      1      0   7.2500
1            2         1       1  38.0      1      0  71.2833
2            3         1       3  26.0      0      0   7.9250
3            4         1       1  35.0      1      0  53.1000
4            5         0       3  35.0      0      0   8.0500

In [633]:
df = pd.concat([df,sex,embark],axis=1)

In [634]:
df.head()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,male,Q,S
0,1,0,3,22.0,1,0,7.2500,True,False,True
1,2,1,1,38.0,1,0,71.2833,False,False,False
2,3,1,3,26.0,0,0,7.9250,False,False,True
3,4,1,1,35.0,1,0,53.1000,False,False,True
4,5,0,3,35.0,0,0,8.0500,True,False,True

In [635]:
df.drop('Survived',axis=1).head()

   PassengerId  Pclass   Age  SibSp  Parch     Fare   male      Q      S
0            1       3  22.0      1      0   7.2500   True  False   True
1            2       1  38.0      1      0  71.2833  False  False  False
2            3       3  26.0      0      0   7.9250  False  False   True
3            4       1  35.0      1      0  53.1000  False  False   True
4            5       3  35.0      0      0   8.0500   True  False   True

In [636]:
df['Survived'].head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [637]:
from sklearn.model_selection import train_test_split

In [638]:
df

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,male,Q,S
0,1,0,3,22.0,1,0,7.2500,True,False,True
1,2,1,1,38.0,1,0,71.2833,False,False,False
2,3,1,3,26.0,0,0,7.9250,False,False,True
3,4,1,1,35.0,1,0,53.1000,False,False,True
4,5,0,3,35.0,0,0,8.0500,True,False,True
...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,27.0,0,0,13.0000,True,False,True
887,888,1,1,19.0,0,0,30.0000,False,False,True
888,889,0,3,24.0,1,2,23.4500,False,False,True
889,890,1,1,26.0,0,0,30.0000,True,False,False
890,891,0,3,32.0,0,0,7.7500,True,True,False

In [639]:
X_train, X_test, y_train, y_test = train_test_split(df.drop('Survived',axis=1), 
                                                    df['Survived'], test_size=0.2, 
                                                    random_state=101)

In [640]:
X_train

     PassengerId  Pclass   Age  SibSp  Parch      Fare   male      Q      S
307          308       1  17.0      1      0  108.9000  False  False  False
229          230       3  24.0      3      1   25.4667  False  False   True
82            83       3  24.0      0      0    7.7875  False   True  False
353          354       3  25.0      1      0   17.8000   True  False   True
707          708       1  42.0      0      0   26.2875   True  False   True
..           ...     ...   ...    ...    ...       ...    ...    ...    ...
576          577       2  34.0      0      0   13.0000  False  False   True
840          841       3  20.0      0      0    7.9250   True  False   True
338          339       3  45.0      0      0    8.0500   True  False   True
524          525       3  24.0      0      0    7.2292   True  False  False
865          866       2  42.0      0      0   13.0000  False  False   True

[711 rows x 9 columns]

In [641]:
from sklearn.linear_model import LogisticRegression

logmodel = LogisticRegression(max_iter=1000)
logmodel.fit(X_train, y_train)

LogisticRegression(max_iter=1000)

In [642]:
import numpy as np

print(np.isnan(X_train).sum(), np.isinf(X_train).sum())
print(np.isnan(y_train).sum(), np.isinf(y_train).sum())

PassengerId    0
Pclass         0
Age            0
SibSp          0
Parch          0
Fare           0
male           0
Q              0
S              0
dtype: int64 PassengerId    0
Pclass         0
Age            0
SibSp          0
Parch          0
Fare           0
male           0
Q              0
S              0
dtype: int64
0 0

In [643]:
predictions = logmodel.predict(X_test)

In [644]:
from sklearn.metrics import confusion_matrix

In [645]:
accuracy=confusion_matrix(y_test,predictions)

In [646]:
accuracy

array([[99,  8],
       [24, 47]], dtype=int64)

In [647]:
from sklearn.metrics import accuracy_score

In [648]:
accuracy=accuracy_score(y_test,predictions)
accuracy

0.8202247191011236

In [649]:
predictions

array([0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0], dtype=int64)

In [650]:
from sklearn.metrics import classification_report

In [651]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.80      0.93      0.86       107
           1       0.85      0.66      0.75        71

    accuracy                           0.82       178
   macro avg       0.83      0.79      0.80       178
weighted avg       0.82      0.82      0.82       178

In [652]:
accuracy_score(y_test,predictions)

0.8202247191011236

In [653]:
from sklearn.datasets import load_wine 
from sklearn.model_selection import train_test_split 
from sklearn.metrics import accuracy_score, classification_report 
from sklearn.naive_bayes import ComplementNB

In [663]:
X_train, X_test, y_train, y_test = train_test_split(df.drop('Survived',axis=1), df['Survived'], test_size = 0.2, random_state = 42) 
  
classifier = ComplementNB() 
classifier.fit(X_train, y_train) 

prediction = classifier.predict(X_test) 
prediction_train = classifier.predict(X_train) 
  
print(f"Training Set Accuracy : {accuracy_score(y_train, prediction_train) * 100} %\n") 
print(f"Test Set Accuracy : {accuracy_score(y_test, prediction) * 100} % \n\n")
print(f"Classifier Report : \n\n {classification_report(y_test, prediction)}")

Training Set Accuracy : 65.68213783403657 %

Test Set Accuracy : 69.66292134831461 %


Classifier Report :

               precision    recall  f1-score   support

           0       0.74      0.79      0.76       109
           1       0.62      0.55      0.58        69

    accuracy                           0.70       178
   macro avg       0.68      0.67      0.67       178
weighted avg       0.69      0.70      0.69       178